/*
$main-theme: #040405;
$text-color: #FFFFFF;
*/

$light-theme: #e4e4e4;
$light-text: #fad3d3;
$dark-theme: #040405;
$dark-text: #040405;
//$font-family-main: 'Helvetica Neue,Helvetica,sans-serif';
$font-family-main: 'Roboto Slab', serif;